<div class="text-center">
  <!-- <div class="flex flex-col gap-2 ">
    <div class="justify-self-center bg-green-300 space-y-4">
      <span>{{title}} esta ejecutando</span>
      <nav>
        <button mat-button class="w-40">
          <a routerLink="/inicio">Inicio</a>
        </button>
        <button class="w-40 rounded-full">
          <a routerLink="/menu">Menu</a>
        </button>
      </nav>
    </div>
  </div> -->
  <nav class="navigationWrapper place-items-center grid grid-cols-5 p-4 text-2xl">
    <div class="logoWrapper mx-4 col-span-2 justify-self-start">
      <span class="stylish">Stylish</span>
      <span class="logo">Logo</span>
    </div>
    <div class="col-span-3 justify-self-end mx-4">
      <ul class="navigation gap-4 flex flex-row">
        <li class="parent p-2"><a class="link" href="/inicio">Home</a></li>
        <li class="parent p-2"><a class="link" href="/menu">About</a></li>
      </ul>
    </div>
    
  </nav>
  <router-outlet></router-outlet>
</div>